[Desktop Entry]
Type=Application
Name=Noto
GenericName=Notes
Comment=Local, encrypted notes for Linux
Categories=Office;TextEditor;
Keywords=notes;markdown;editor;
Exec=/usr/local/bin/noto
Icon=io.github.AngelAragonMartinez.Noto
StartupNotify=true
StartupWMClass=noto
Terminal=false
